/* Set root variable for dim color */
:root {
    --dim: #111;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--dim);
    display: grid;
    place-items: center;
}

/* Heading styles */
h1 {
    color: cadetblue;
}

/* Form styles */
form {
    border-radius: 15px;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

/* Placeholder styles for webkit browsers */
::-webkit-input-placeholder {
    position: absolute;
    font-weight: 600;
    color: cadetblue;
    left: 20%;
    top: 30%;
}

/* Input container styles */
.input {
    display: grid;
    place-items: center;
    position: relative;
}

/* Input field styles */
.inputfield {
    color: cadetblue;
    font-size: 20px;
    padding: 0 0 0 3em;
    background-color: transparent;
    position: relative;
    border-radius: 25px;
    height: 48px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Submit button styles */
button[type='submit'] {
    font-weight: 600;
    font-size: 1em;
    border-radius: 30px;
    background-color: cadetblue;
    border: 3px solid transparent;
    padding: 15px 20px;
    cursor: pointer;
    width: 100%;
}

/* Buttons container styles */
.buttons {
    gap: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 303px;
}

/* Icon styles */
.bx {
    position: absolute;
    left: 5%;
    top: 30%;
    color: cadetblue;
}

/* Remember me label styles */
.remembreme {
    color: cadetblue;
}

/* Link styles */
a {
    text-align: center;
    text-decoration: none;
    color: cadetblue;
    align-self: flex-end;
}

/* Remember me checkbox styles */
.remembreme > input[type='checkbox'] {

    accent-color: cadetblue;
}
p {
    color: whitesmoke;
}

/* Media query for smaller screens */
@media (max-width: 894px) {

    .buttons {
        justify-content: center;
        align-items: center;
    }
    button[type='submit'] {
        width: 100%;
    }
   
}
